<form method="get" th:action="@{__${currentUri}__}" th:object="${searchRequest}" class="mt-3 search-component">
    <input type="hidden" th:field="*{page}" value="1" />
    <input type="hidden" th:field="*{pageSize}" value="5" />
    <div class="row">
        <div class="col-md-5">
            <input class="form-control" placeholder="Tên, mã danh mục" th:field="*{data}">
        </div>
        <div class="justify-content-center">
            <button class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
</form>