<ul class="d-none bg-white pl-0 rounded border" th:fragment="actionList(active, id)">
    <li class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
            <a href="javascript:void(0)" data-toggle="modal" th:data-target="${'#update-category' + id}">Chỉnh sửa</a>
        </div>
    </li>

    <th:block th:switch="${active}">
        <li th:case="${true}" class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-exchange mr-2" aria-hidden="true"></i>
                <a th:href="@{/admin/category/change-status(id=__${id}__)}">Khoá danh mục</a>
            </div>
        </li>
        <li th:case="${false}" class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-exchange mr-2" aria-hidden="true"></i>
                <a th:href="@{/admin/category/change-status(id=__${id}__)}">Mở danh mục</a>
            </div>
        </li>
    </th:block>
    <li class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-trash mr-2" aria-hidden="true"></i>
            <a href="javascript:void(0)" data-toggle="modal" th:data-target="${'#delete-category' + id}">Xóa</a>
        </div>
    </li>
</ul>