<div th:fragment="card(borderColorLeft, titleColor, _href, title, value, icon)" class="card shadow h-100 py-2 " th:classappend="${borderColorLeft}">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1" th:classappend="${titleColor}">
                    <a th:href="${_href}" th:text="${title}"/>
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${value}"/>
            </div>
            <div class="col-auto">
                <i th:classappend="${icon}" class="fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>