<ul th:fragment="actionList(code, status)" class="d-none bg-white pl-0 rounded border">
    <li class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-search mr-2" aria-hidden="true"></i>
            <a href="javascript:void(0)" class="show-detail-order" th:data-orderId="${code}" th:data-urlData="@{/admin/rest/order}">Chi tiết</a>
        </div>
    </li>

    <th:block th:if="${status.name() eq 'PENDING'}">
        <li class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-times mr-2" aria-hidden="true"></i>
                <a href="javascript:void(0)" data-toggle="modal" th:data-target="${'#reject-order-' + code}">Từ chối</a>
            </div>
        </li>
    </th:block>

    <th:block th:if="${status.name() eq 'PENDING'}">
        <li class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-check mr-2" aria-hidden="true"></i>
                <a th:href="@{/admin/order/change-status?status=APPROVED&oCode=__${code}__}">Phê duyệt</a>
            </div>
        </li>
    </th:block>

    <th:block th:if="${status.name() eq 'APPROVED'}">
        <li class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-truck mr-2" aria-hidden="true"></i>
                <a th:href="@{/admin/order/change-status?status=DELIVERING&oCode=__${code}__}">Vẩn chuyện</a>
            </div>
        </li>
    </th:block>

    <th:block th:if="${status.name() eq 'DELIVERING'}">
        <li class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-money mr-2" aria-hidden="true"></i>
                <a th:href="@{/admin/order/change-status?status=DONE&oCode=__${code}__}">Hoàn thành</a>
            </div>
        </li>
    </th:block>
</ul>