<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:if="${title ne null}" th:text="${title}"/>
    <title th:if="${title eq null}" th:text="'Smart tech'"/>
    <link rel="icon" th:href="@{/resources/img/favicon.ico}" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/resources/_common/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/_common/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/_common/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/_common/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/_common/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/_common/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/_common/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/user/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/user/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/user/css/footer.css}" type="text/css">
    <link
            th:if="${_CSS_KEY ne null}"
            th:each="css : ${_CSS_KEY}"
            th:href="@{/resources__${css}__.css}"
            rel="stylesheet"
    />
    <style>
        .required:after {
            content: ' *';
            color: var(--danger);
        }

        .dots {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .dots-line {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: attr(line);
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>

    <div style="height: fit-content">
        <div th:replace="~{_common/notifier :: div}"></div>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>
        <header th:replace="~{user/common/header :: header}" />
        <div th:replace="${content}"/>
        <footer th:replace="~{user/common/footer :: footer}"/>
    </div>

    <th:block sec:authorize="isAuthenticated()">
        <div th:replace="~{_common/modal :: modal('logoutId', 'Xác nhận?', 'Bạn có muốn đăng xuất tài khoản.', @{/auth/logout}, 'post', null, null, null)}" />
<!--        <div th:replace="~{_common/modal :: modal('updateUserId', 'Cập nhật thông tin', null, null, null, 'user/common/user-info-form', null, null)}" />-->
<!--        <div th:replace="~{_common/modal :: modal('changePasswordId', 'Đổi mật khẩu', null, null, null, 'user/common/change-password-form', null, null)}" />-->
    </th:block>


    <script th:src="@{/resources/_common/javascript/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/bootstrap.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/jquery.nice-select.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/jquery.countdown.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/jquery.slicknav.js}"></script>
    <script th:src="@{/resources/_common/javascript/mixitup.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/owl.carousel.min.js}"></script>
    <script th:src="@{/resources/_common/javascript/sweetalert2.js}"></script>
    <script th:src="@{/resources/_common/javascript/notifier.js}"></script>
    <script th:src="@{/resources/_common/javascript/utilities.js}"></script>
    <script th:src="@{/resources/admin/javascript/spinner.js}"></script>
    <script th:src="@{/resources/user/javascript/main.js}"></script>
    <script
            th:if="${_JS_KEY ne null}"
            th:each="js : ${_JS_KEY}"
            th:src="@{/resources__${js}__.js}"
    ></script>
    <script>
        $('.nice-scroll').niceScroll();
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            nav: false,
            dots: false,
            autoplay: false,
            responsive:{
                0:{
                    items: 1
                },
                600:{
                    items: 3
                },
                1000:{
                    items: 8
                }
            }
        })
    </script>
</body>
</html>