<ul class="d-none bg-white pl-0 rounded border" th:fragment="actionList(active, code)">
    <li class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
            <a th:href="@{/admin/product/update(pCode=__${code}__)}">Chỉnh sửa</a>
        </div>
    </li>

    <li th:if="${active}" class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-lock mr-2" aria-hidden="true"></i>
            <a th:href="@{/admin/product/lock(code=__${code}__)}" title="Khóa sản phẩm">Khóa sản phẩm</a>
        </div>
    </li>

    <li th:unless="${active}" class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-unlock-alt mr-2" aria-hidden="true"></i>
            <a th:href="@{/admin/product/lock(code=__${code}__)}" title="Mở khóa sản phẩm">Mở khóa</a>
        </div>
    </li>
</ul>