<!-- Sidebar -->
<ul xmlns:th="http://www.thymeleaf.org" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="${contextPath}/admin/home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-yelp" aria-hidden="true"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Smart Tech</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li th:replace="~{admin/common/link :: link('/admin/home', 'Dashboard', 'fa fa-tachometer')}" />
    <!-- Divider -->
    <hr class="sidebar-divider">

    <li th:replace="~{admin/common/link :: link('/admin/category', 'Quản lý danh mục', 'fa fa-table')}" />
    <li th:replace="~{admin/common/link :: link('/admin/product', 'Quản lý sản phẩm', 'fa fa-table')}" />
    <li th:replace="~{admin/common/link :: link('/admin/user', 'Quản lý người dùng', 'fa fa-table')}" />
    <li th:replace="~{admin/common/link :: link('/admin/order', 'Quản lý đơn hàng', 'fa fa-table')}" />

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->