<th:block xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="statusLogin()" >
    <th:block sec:authorize="isAnonymous()">
        <a class="text-dark font-weight-bold" th:href="@{/auth}">Đăng nhập</a>
    </th:block>
    <div class="d-flex flex-column" sec:authorize="isAuthenticated()">
        <div class="user-info position-relative">
            <a href="javascript:void(0)">Xin chào, <th:block sec:authentication="principal.firstName"/></a>
            <ul class="d-none bg-white position-absolute border" style="list-style: none">
                <li>
                    <p>
                        <a class="text-dark" th:href="@{/ho-so/tai-khoan}">Cập nhật thông tin</a>
                    </p>
                </li>
                <li>
                    <p data-toggle="modal" data-target="#logoutId">Đăng xuất</p>
                </li>
            </ul>
        </div>

        <th:block sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/home}">Vào trang admin</a>
        </th:block>
    </div>
</th:block>