<div
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="modal(id, title, content, successUrl, method, bodyComponentUrl, bodyComponent, size)"
        th:id="${ id }"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        style="z-index: 10000"
>
    <div class="modal-dialog" th:classappend="${size}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${title}"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <th:block th:if="${ bodyComponentUrl ne null}">
                    <div th:replace="~{${bodyComponentUrl} :: .component}"></div>
                </th:block>
                <th:block th:if="${bodyComponent ne null}">
                    <div th:replace="${bodyComponent}"></div>
                </th:block>
                <th:block th:if="${ content ne null }">
                    [[${content}]]
                </th:block>
            </div>
            <th:block th:if="${ successUrl ne null }">
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <th:block th:switch="${method}">
                        <form th:case="'post'" th:action="${successUrl}" th:method="${method}">
                            <button class="btn btn-primary">Đồng ý</button>
                        </form>
                        <a th:case="*" th:href="${successUrl}" class="btn btn-primary">Đồng ý</a>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>
</div>
